---
- name: Set up version separator
  when: pdns_package_version | length > 0
  tags:
    - install
  block:
    - name: Prefix the PowerDNS version with the correct separator on RedHat
      ansible.builtin.set_fact:
        _pdns_package_version: "-{{ pdns_package_version }}"
      when: ansible_os_family == 'RedHat'

    - name: Prefix the PowerDNS version with the correct separator on Debian
      ansible.builtin.set_fact:
        _pdns_package_version: "={{ pdns_package_version }}"
      when: ansible_os_family == 'Debian'

- name: Install PowerDNS
  ansible.builtin.package:
    name: >-
      {{ pdns_package_name }}{{ _pdns_package_version | default('')
      if pdns_package_state != 'absent' else '' }}
    state: "{{ pdns_package_state }}"
  notify: reload systemd
  tags:
    - install

- name: Install PowerDNS debug symbols
  ansible.builtin.package:
    name: >-
      {{ pdns_debug_symbols_package_name }}{{ _pdns_package_version | default('')
      if pdns_debug_symbols_package_state != 'absent' else '' }}
    state: "{{ pdns_debug_symbols_package_state }}"
  when:
    - pdns_install_debug_symbols_package | bool or pdns_debug_symbols_package_state == 'absent'
  tags:
    - install

- name: Install PowerDNS backends
  ansible.builtin.package:
    name: >-
      {{ pdns_backends_packages[item.key.split(':')[0]] }}{{ _pdns_package_version | default('')
      if pdns_backends_packages_state != 'absent' else '' }}
    state: "{{ pdns_backends_packages_state }}"
  when: pdns_backends_packages[item.key.split(':')[0]] is defined
  with_dict: "{{ pdns_backends }}"
  loop_control:
    label: "{{ item.key }}"
  tags:
    - install
