---
- name: Reload systemd
  ansible.builtin.systemd:
    daemon_reload: true
  listen: reload systemd
  when: not pdns_disable_handlers
  tags:
    - service

- name: Restart PowerDNS
  ansible.builtin.systemd:
    name: "{{ pdns_service_name }}"
    state: restarted
  listen: restart pdns
  when:
    - not pdns_disable_handlers
    - pdns_service_state != 'stopped'
  tags:
    - service

- name: Update the apt cache
  ansible.builtin.apt:
    update_cache: true
  listen: update the apt cache
  tags:
    - install
    - repository
